<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h3>Add a book</h3>
		<form th:object="${book}" th:action="@{/admin/home}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
			<div class="form-group">
				<label for="title">Title:</label> <input type="text"
					class="form-control" name="title" th:field="*{title}">
				</input><br />
			</div>
			<div class="form-group">
				<label for="author">Author:</label> <input type="text" name="author"
					class="form-control" th:field="*{author}"></input><br />
			</div>
			<div class="form-group">
				<label for="isbn">ISBN:</label> <input type="text" name="isbn"
					class="form-control" th:field="*{isbn}"></input><br />
			</div>
			<div class="form-group">
				<label for="description">Description:</label><br />
				<textarea name="description" cols="80" rows="5"
					th:field="*{description}"></textarea>
			</div>
			<br /> <input type="submit"></input>
		</form>
	</div>
</body>
</html>